@charset "utf-8";

/* 고객센터 서브메인 상단 탭 */
.cs-tab{
	padding:56px 0 53px;
	border-bottom:1px solid #ddd;
	background:#f8f8f8;
}
.cs-tab a{
	display:inline-block;
	width:25%;
	padding:58px 0 0;
	color:#010101;
	font-size:16px;
	text-align:center;
}
.cs-tab a.nth01{
	background:url(../images/customer/bg_cs_tab_01.png) no-repeat 50% 0;
}
.cs-tab a.nth02{
	background:url(../images/customer/bg_cs_tab_02.png) no-repeat 50% 0;
}
.cs-tab a.nth03{
	background:url(../images/customer/bg_cs_tab_03.png) no-repeat 50% 0;
}
.cs-tab a.nth04{
	background:url(../images/customer/bg_cs_tab_04.png) no-repeat 50% 0;
}

/* 고객센터 서브메인 하단 */
.cs-info-box{
	display:flex;
	margin-top:79px;
}
.cs-info-box > div{
	height:126px;
	padding:40px 0 0 20px;
	border-top:2px solid #000;
	background:#f8f8f8;
}
.cs-info-box .cs-center{
	width:340px;
	font-size:13px
}
.cs-info-box .cs-center p{
	margin-top:10px;
	color:#666;
	font-size:13px;
}
.cs-info-box .cs-shop{
	width:340px;
	margin-left:10px;
	font-size:13px
}
.cs-info-box .cs-shop strong{
	padding-right:16px;
	background:url(../images/common/bg_arrow_02.png) no-repeat 100% 50%;
}
.cs-info-box .cs-shop p{
	margin-top:10px;
	color:#666;
	font-size:13px;
}
.cs-info-box .cs-info{
	display:flex;
	justify-content:space-around;
	width:45%;
	margin-left:10px;
	padding:0;
}
.cs-info-box .cs-info a{
	display:inline-block;
	height:126px;
	padding-top:73px;
	font-size:13px;
	text-align:center;
}
.cs-info-box .cs-info .nth01{
	background:url(../images/customer/bg_cs_info01.png) no-repeat 50% 35px;
}
.cs-info-box .cs-info .nth02{
	background:url(../images/customer/bg_cs_info02.png) no-repeat 50% 35px;
}
.cs-info-box .cs-info .nth03{
	background:url(../images/customer/bg_cs_info03.png) no-repeat 50% 35px;
}

/* 단체구매문의 */
.cs-order-process {
	margin-top: 28px;
	padding: 55px 0 78px;
	background-color: #f8f8f8;
	text-align: center;
}
.cs-order-process dt {
	font-size: 20px;
	color: #000;
}
.cs-order-process dd {margin-top:32px;}
.cs-order-process .cs-order-process-info li {
	display: inline-block;
	font-size: 13px;
	color: #666;
}
.cs-order-process .cs-order-process-info li+li {
	margin-left: 15px;
}
.cs-order-process .cs-order-process-info span {
	padding-left: 10px;
}
.cs-order-process .cs-order-process-info em {
	padding-right: 10px;
	font-weight: 400;
}
.cs-order-process .cs-order-process-step {
	margin-top: 41px;
}
.cs-order-process .cs-order-process-step ol {
	width: 748px;
	padding-top: 67px;
	margin: 0 auto;
	background: url(../images/customer/order_process.png) no-repeat 50% 0;
}
.cs-order-process .cs-order-process-step ol:after {
	content: '';
	clear: both;
	display: block;
}
.cs-order-process .cs-order-process-step li {
	float: left;
	width: 25%;
	font-size: 13px;
	line-height:18px;
	color: #010101;
}
.cs-order-process .cs-order-process-step li span {
	display: block;
	margin-bottom: 1px;
}