@charset "utf-8";
.cs-wrap {
	padding: 20px 0 0;
}
.cs-wrap .justify-wrap {
	margin-top: 50px;
}
.cs-wrap .tab01 {
	margin-top: 0;
}
.cs-wrap .board-write {
	padding: 0 10px;
}
.cs-wrap .board-write .required-txt {
	top:10px;
	right: 10px;
}
.cs-wrap .board-write td textarea {
	height: 150px;
}
.cs-wrap .board-write td .text-list01 {
	padding: 0;
}
.cs-wrap .board-write td .file-search+.text-list01 {
	margin-top: 7px;
}

.cs-tab {
	margin-top: 15px;
	padding: 0 10px;
}
.cs-tab ul {
	overflow: hidden;
	width: calc(100% + 5px);
	margin-left: -5px;
}
.cs-tab ul li {
	float: left;
	width: calc(50% - 5px);
	margin: 5px 0 0 5px;
	font-size: 14px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 22px;
	border: 1px solid #000;
	text-align: center;
}
.cs-tab ul li a {
	display: block;
	height: 98px;
	padding-top: 56px;

}
.cs-tab ul li.nth01 {
	background-image: url(../images/customer/bg_cs_tab_01.png);
	background-size: 22px 25px;
}
.cs-tab ul li.nth02 {
	background-image: url(../images/customer/bg_cs_tab_02.png);
	background-size: 24px 25px;
}
.cs-tab ul li.nth03 {
	background-image: url(../images/customer/bg_cs_tab_03.png);
	background-size: 23px 25px;
}
.cs-tab ul li.nth04 {
	background-image: url(../images/customer/bg_cs_tab_04.png);
	background-size: 28px 26px;
}
.cs-info-list {
	padding: 30px 10px 0;
}
.cs-info-list>ul{
	display:flex;
	flex-wrap:wrap;
	width: calc(100% + 5px);
	margin-left:-5px;
}
.cs-info-list>ul li {
	position: relative;
	width: calc(50% - 5px);
	margin: 5px 0 0 5px;
	font-size: 14px;
	line-height: 21px;
	border:1px solid #ddd;
	background: #f8f8f8;
	/* background: #f8f8f8 url(../images/common/bg_arrow_04.png) no-repeat 100% 50%;
	background-size: 28px 13px; */
}
/* .cs-info-list>ul li:first-child {
	margin-top: 0;
} */
.cs-info-list>ul li a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 23px 0 20px;
	color: #666;
}
.cs-info-list>ul li i {
	display:block;
	width:100%;
	height: 25px;
	font-size: 0;
}
.cs-info-list>ul li .icon-cs-info01 {
	background: url(../images/customer/bg_cs_info_01.png) no-repeat 50% 0;
	background-size:24px 25px;
}
.cs-info-list>ul li .icon-cs-info02 {
	background: url(../images/customer/bg_cs_info_02.png) no-repeat 50% 0;
	background-size:28px 25px;
}
.cs-info-list>ul li .icon-cs-info03 {
	background: url(../images/customer/bg_cs_info_03.png) no-repeat 50% 0;
	background-size:28px 25px;
}
.cs-info-list>ul li .icon-cs-info04 {
	height:25px;
	background: url(../images/customer/bg_cs_info_04.png) no-repeat 50% 0;
	background-size:29px 27px;
}
.cs-info-list>ul li strong {
	display: block;
	margin-top: 8px;
	color: #000;
	text-align:center;
}

.order-number-input {
	display: flex;
}
.order-number-input .order-number-txt {
	display: inline-block;
	width: 100%;
	color: #666;
	line-height: 40px;
}
.order-number-input>a {
	width: 115px;
	margin-left: 5px;
}
.order-number-input>a span {
	width: 115px;
}

.agree-section {
	padding: 0 10px;
}
.agree-section + .txt-sub-info06 {
	margin-top: 25px;
}
.agree-check-wrap {
	margin: 42px 10px 0;
	padding-bottom: 19px;
	padding-top: 30px;
	border-top: 1px solid #eee;
}
.agree-check-wrap p {
	font-size: 12px;
	margin-top: 5px;
	color: #666;
}
.agree-check-wrap + .title02 {
	margin: 0 10px;
	padding: 22px 0 0;
	border-top: 1px solid #eee;
}

.search-order-wrap .tab01 {

}
.search-order-wrap .tab01 li {
	width: 50%;
}
.search-order-wrap .search-order-cont {
	display: none;
	margin-top: 30px;
	padding: 0 10px;
}
.search-order-wrap .date-calendar-wrap .date-calendar-txt01 {
	padding-bottom: 0;
	border-bottom: none;
}
.search-order-wrap .date-calendar-wrap .date-calendar-txt02 {
	display: flex;
	border-top: 1px solid #ddd;
}

.order-number-info-wrap {
	position: relative;
	padding: 22px 0 22px 35px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #ddd;
}
.order-number-info-wrap .rdo-skin {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -12px;
}
.order-number-info-wrap .order-number-info-txt {
	display: block;
	font-size: 15px;
	color: #010101;
	line-height: 21px;
}
.order-number-info-wrap .order-number-info-txt em {
	display: inline-block;
}
.order-number-info-wrap .order-number-info-txt strong {
	font-weight: bold;
}
.order-number-list {
	margin: 40px 10px 0;
	border-bottom: 1px solid #ddd;
}
.order-number-list .item-list-wrap {
	margin: 0;
	padding: 0;
}
.order-number-list .item-list01 {
	border-top: none;
}
.order-number-list .item-list01 li.no-result {
	height: auto;
	padding: 85px 0;
	color: #666;
	line-height: 21px;
	border-top: 1px solid #666;
}
.order-number-list .item-list01 .product-info .item-info-option {
	margin-top: 52px;
}
