@charset "utf-8";
/* 스텝 */
.step-section {
	width: 100%;
	height: 50px;
	background-color: #000;
	text-align: center;
	display: flex;
}
.step-section li {
	position: relative;
	color: #666;
	line-height: 48px;
	flex: 1;
}
.step-section li.on {
	color: #fff;
}
.step-section li:after {
	content:'';
	display: inline-block;
	position: absolute;
	right: -3.5px;
	top: 50%;
	width: 7px;
	height: 12px;
	margin-top: -6px;
	background: url(../images/common/bg_step.png) no-repeat 0 0;
	background-size: 7px 24px;
}
.step-section li.on:after {
	background-position: 0 -12px;
}
.step-section li:last-child:after {
	display: none;
}

.member-detail-wrap {
	margin-top: 36px;
}
.member-detail-wrap .txt-family-brand {
	margin-top: 33px;
	padding: 0 10px;
	line-height: 22px;
}
.member-detail-wrap .txt-family-brand strong {
	display: block;
	margin-bottom: 9px;
	font-size: 17px;
	font-weight: bold;
}
.member-detail-wrap .my-info-box {
	margin: 20px 45px 0;
}
.my-info-box {
	margin: 20px 0 0;
	padding: 20px 0;
	background-color: #f8f8f8;
	text-align: center;
}
.my-info-box>span {
	display: inline-block;
	color: #000;
}
.my-info-box>span+span {
	margin-left: 8px;
}
.my-info-box strong {
	font-weight: bold;
}
.member-benefit-list {
	margin-top: 57px;
}
.member-benefit-list h3 {
	margin-top: 0;
}
.member-benefit-list>ul {
	margin-top: 24px;
	padding: 0 10px;
}
.member-benefit-list>ul li {
	display: flex;
	position: relative;
	width: 100%;
	margin-top: 5px;
	padding: 25px 30px 21px 134px;
	background-color: #f8f8f8;
}
.member-benefit-list>ul li:first-child{
	margin-top: 0;
}
.member-benefit-list>ul li:nth-child(1) {
	background: #f8f8f8 url(../images/member/bg_member_benefit_01.png) no-repeat 30px 27px;
	background-size: 76px 39px;
}
.member-benefit-list>ul li:nth-child(2) {
	background: #f8f8f8 url(../images/member/bg_member_benefit_01.png) no-repeat 30px 27px;
	background-size: 76px 39px;
}
.member-benefit-list>ul li:nth-child(3) {
	background: #f8f8f8 url(../images/member/bg_member_benefit_02.png) no-repeat 30px 27px;
	background-size: 76px 39px;
}
.member-benefit-list > ul li .benefit-icon {
	width: 125px;
}
.member-benefit-list > ul li .benefit-icon div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 96px;
	height: 40px;
	margin-top: 5px;
	padding-left: 12px;
	background: url(../images/common/bg_coupon.png) no-repeat 0 0;
	background-size: 96px 40px;
	font-size: 12px;
}
.member-benefit-list > ul li .benefit-icon div:first-child {
	margin-top: 0;
}
.member-benefit-list > ul li .benefit-icon div strong {
	font-weight: bold;
	font-size: 14px;
}
.member-benefit-list > ul li .benefit-txt {
}
.member-benefit-list > ul li p {
	margin-top: 13px;
	line-height: 22px;
	color: #999;
}
.member-benefit-list>ul li em {
	display: block;
	margin-top: 21px;
	font-weight: bold;
}
.member-benefit-list>ul li em:first-child {
	margin-top: -2px;
}
.member-benefit-list > ul li .icon-coupon,
.member-benefit-list > ul li .icon-mile {
	display: inline-block;
	position: absolute;
	left: 40px;
	top: 27px;
	width: 46px;
	height: 32px;
	font-size: 0;
	vertical-align: middle;
}
.member-benefit-list > ul li .icon-coupon {
	background:url(../images/member/bg_member_benefit_01.png) no-repeat 0 0;
	background-size: 46px 32px;
}
.member-benefit-list > ul li .icon-mile {
	background:url(../images/member/bg_member_benefit_02.png) no-repeat 0 0;
	background-size: 46px 32px;
}

.privacy-agree-list {
	margin: 57px 10px 0;
	border-top: 1px solid #666;
}
.privacy-agree-list ul li {
	display: table;
	position: relative;
	width: 100%;
	/*height: 70px;*/
	border-bottom: 1px solid #eee;
}
.privacy-agree-list ul li>div {
	display: table-cell;
	position: relative;
	width: 100%;
	/*height: 100%;*/
	/*padding-left: 35px;*/
	padding: 22px 0 23px 35px;
	vertical-align: middle;
}
.privacy-agree-list ul li .check-skin {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
}
.privacy-agree-list ul li label {
	margin-left: 0;
}
.privacy-agree-list ul li label strong {
	font-size: 17px;
	letter-spacing: -1px;
}
.privacy-agree-list ul li .error-msg {
	margin-top: 6px;
	padding:0;
}

/*.switch-list-wrap {
	margin: 20px 10px 0;
	border: 1px solid #eee;
	border-width: 1px 0;
}
.switch-list-wrap>li {
	display: table;
	width: 100%;
	height: 65px;
}
.switch-list-wrap>li+li {
	border-top: 1px solid #eee;
}
.switch-list-wrap .left,
.switch-list-wrap .right {
	display: table-cell;
	vertical-align: middle;
}
.switch-list-wrap .right {
	text-align: right;
}
.switch-list-wrap .toggle-on span {
	padding-left: 12px;
}
.member-detail-wrap .board-write {
	margin-top: 14px;
}*/

.welcome-wrap {
	padding-bottom: 20px;
	text-align: center;
}
.welcome-wrap .text-welcome-info {
	color: #666;
}
.welcome-wrap .text-welcome-info strong {
	font-weight: bold;
	color: #000;
}

.complete-msg-wrap {
	padding-bottom: 10px;
}
.complete-msg-wrap p {
	font-size: 12px;
	color: #666;
	line-height: 18px;
}
.complete-msg-wrap .txt-complete-msg {
	margin-bottom: 55px;
	font-size: 14px;
	color: #000;
	text-align: center;
}
.certification-wrap .tab01 {
	/* margin-top: 9px; */
}
.certification-wrap .tab01 li {
	width: 50%;
}
.certification-wrap .certification-cont {
	margin-top: 30px;
	padding: 0 10px;
}
.certification-list-wrap {
	padding: 0 10px;
}
.certification-list {
	overflow:hidden;
	width: 100%;
	margin-top: 20px;
}
.certification-list li {
	float:left;
	width: calc(50% - 5px);
	margin-left:5px;
	border: 1px solid #000;
	text-align: center;
	vertical-align: top;
}
.certification-list li:first-child{
	width: 50%;
	margin-left:0;
}
.certification-list li a {
	display: inline-block;
	width: 100%;
	height: 148px;
	padding-top: 85px;
	font-weight: bold;
}
.certification-list li a.certification01 {
	background: url(../images/member/bg_certification_01.png) no-repeat 50% 48px;
	background-size: 19px 25px;
}
.certification-list li a.certification02 {
	background: url(../images/member/bg_certification_02.png) no-repeat 50% 48px;
	background-size: 26px 25px;
}
.certification-list02 {
	margin-top: 18px;
	overflow: hidden;
}
.certification-list02 li {
	float: left;
	width: 50%;
	text-align: center;
}
.certification-list02 li a {
	font-size: 12px;
	color: #666;
	text-decoration: underline;
}
.certification-wrap .text-list01 {
	margin-top: 70px;
	padding-top: 25px;
	border-top: 1px solid #eee;
}