@charset "utf-8";
/* order main */
.order-wrap{
	display:none;
}

/* 품절 안내 */
.supply-info-wrap{
	padding:26px 10px 0;
}
.supply-info-wrap .txt-sub-info01{
	margin-top:0;
	padding:0;
}
.supply-info-wrap .text-list01{
	padding:0;
}
.supply-info-wrap .item-list03 + .txt-sub-info01{
	margin-top:18px;
}
/* 주문결제 */


/* 주문완료 */

.order-finish-wrap{
	padding:28px 30px 0;
}
.order-finish-txt-info{
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.order-finish-list-info{
	margin-top:20px;
	padding:15px 0 14px;
	background:#f8f8f8;
}
.order-finish-list-info li{
	width: 200px;
	margin: 0 auto;
	line-height:22px;
}
.order-finish-list-info li strong{
	font-weight:bold;
}
/* 주문완료 취소 */
.order-finish-error-wrap{
	padding:30px 10px 0;
}
.order-finish-error-wrap .order-finish-error-txt01{
	color:#000;
	font-size:20px;
	line-height:26px;
	text-align:center;
}
.order-finish-error-wrap .order-finish-error-txt02{
	margin-top:18px;
	color:#999;
	font-size:12px;
	line-height:18px;
	text-align:center;
}
/* 결제 수단 */

.order-payment-list {

}
.order-payment-list:after {
	display:block;
	content:'';
	clear:both;
}
.order-payment-list .radio-list {
	margin-top: 0;
	padding-top:15px;
}
.order-payment-list .radio-list li {
	float:left;
	width:50%;
	margin-top:10px;
	text-align:left;
}

/* card info */
.card-info-box {
	margin-top: 28px;
}
.card-info-box dt {
	margin-top: 0;
	font-size:12px;
	line-height:18px;
	color: #000;
}
.card-info-box dt.card-info-title01{
	margin-top:38px;
	font-size:14px;
	font-weight:bold;
}
.card-info-box dd {
	margin-top: 5px;
	color:#999;
	font-size:12px;
	line-height:18px;
}
.card-info-box dd + dt{
	margin-top:10px;
}
.card-info-box dd p {
	color:#999;
	font-size:12px;
	line-height:18px;
}
.card-info-box dd p+p {
	margin-top: 6px;
}
.card-info-box dd .data-tbl02 {
	/* width: 576px; */
}
.card-info-box dd .text-list01{
	margin-top:10px;
}
.card-info-box .img-payment {
	display: block;
	margin: 8px -10px 0;
	padding: 30px 20px;
	background-color: #f8f8f8;
	text-align:center;
}
.card-info-box .img-payment img{
	width:240px;
	height:auto;
}
.card-info-box .text-list01 p {
	margin-top: 6px;
	color: #666;
}
.card-info-box .text-list02 .btn-style01 {
	margin-top: 15px;
	margin-left: -10px;
}
.card-info-box .btn-wrap01{
	margin-top:12px;
	padding:0;
}
/* .card-info-list {
	margin-top: 10px;
	overflow: hidden;
}
.card-info-list li {
	float: left;
	width:calc(33.3% - 5px);
	margin-left: 5px;
}
.card-info-list li:first-child{
	width:33.3%;
	margin-left: 0;
} */
/* bank info */

.bank-info-box{}
.bank-info-box dt{
	color:#000;
	font-size:15px;
}
.bank-info-box dd{
	margin-top:12px;
}
.bank-info-box dd p{
	color:#666;
}
.bank-info-box dd a{
	color:#666;
}
/* coupon */

.coupon-info-wrap{
	padding:0 10px;
}
.item-list01 .coupon-info-wrap{
	padding:0;
}
.coupon-info-wrap .coupon-info-title{

}
.coupon-info-wrap .coupon-info-txt{
	margin-top:8px;
}
.coupon-info-wrap .coupon-info-total{
	overflow:hidden;
	margin-top:20px;
}
.coupon-info-wrap .coupon-info-total .label{
	float:left;
}
.coupon-info-wrap .coupon-info-total .price{
	float:right;
}
.coupon-info-wrap .coupon-info-total .price em{
	font-weight:bold;
}
/* order */
.order-detail-wrap{
	position:relative;
	margin-top:30px;
	padding:0 10px;
}
.cont-box-wrap .order-detail-wrap:first-child{
	margin-top:0;
}
.order-detail-wrap .title03{
	margin:0;
	border-top:1px solid #eee;
}
.order-detail-wrap.order-detail-type01 .title03{
	border-top:none;
}
.order-detail-wrap .item-list-wrap .item-list01{
	margin-top:0;
	border-top:none;
}
.order-detail-wrap .item-list-wrap .item-list01 li:last-child{
	border-bottom:none;
}
.order-detail-wrap .btn-open,
.order-detail-wrap .btn-close{
	position: absolute;
	right: 10px;
	top: 26px;
	width: 14px;
	height: 14px;
	font-size: 0;
}
.order-detail-wrap .order-detail-content{
	display:none;
}
.order-detail-wrap .order-detail-content .item-list-wrap{
	padding:0
}
.order-detail-wrap .order-detail-content .product-info.product-info-set{
	margin:-21px -10px -21px;
}
.order-detail-wrap.on .order-detail-content{
	display:block;
}
.order-detail-wrap .order-detail-content .item-list-wrap{
	margin-top:0;
}
.order-detail-wrap .order-detail-content .txt-sub-info-box01{
	margin:14px 0 0;
}
.order-detail-wrap .order-detail-content .text-list01,
.order-detail-wrap .order-detail-content .txt-sub-info01{
	padding:0;
}
.order-detail-wrap .order-detail-content .agree-wrap{
	padding:0;
}
.order-detail-wrap .btn-open{
	background:url(../images/common/btn_open_01.png) no-repeat 50% 50%;
	background-size:14px 14px;
}
.order-detail-wrap .btn-close{
	display:none;
	background:url(../images/common/btn_close_01.png) no-repeat 50% 50%;
	background-size:14px 2px;
}
.order-detail-wrap .order-detail-btn01 {
	position: absolute;
	right: 10px;
	top: 55px;
	width: 85px;
}
.order-detail-wrap.on > .btn-open{
	display:none
}
.order-detail-wrap.on > .btn-close{
	display:block
}

.order-payment-content {
	margin-top: 28px;
}
.order-payment-content .txt-sub-info01,
.order-payment-content .txt-sub-info01 + .text-list01{
	margin-top:5px;
	padding:0;
}
.order-payment-content .bank-info-wrap {
	position: relative;
	margin-top: 20px;
}
.order-payment-content .bank-info-wrap .bank-info-cont {
	display: none;
	margin-top: 0;
}
.order-payment-content .bank-info-wrap .bank-info-cont .item-list01 > li:last-child{
	border-bottom:none;
}
.order-payment-content .bank-info-wrap.on .btn-open {
	display: none;
}
.order-payment-content .bank-info-wrap.on .btn-close {
	display: block;
}
.order-payment-content .bank-info-wrap.on .bank-info-cont {
	display: block;
}
.order-payment-content .text-list02{
	padding:0;
}
.refund-info-section {
	margin: 30px -10px 0;
	padding: 25px 10px 30px;
	background-color: #f8f8f8;
}
.refund-info-section>dt {
	font-weight:bold;
}
.refund-info-section>dd {
	margin-top: 4px;
	font-size: 15px;
}
/* .refund-info-section>dd div,
.refund-info-section>dd p {
	font-size: 15px;
	line -height: 19px;
}*/
.refund-info-section .write-list {
	margin-top: 18px;
	border:1px solid #ddd;
	border-width:1px 0 0;
}
.refund-info-section .write-list .write-list-title{
	display:block;
	margin-top:25px;
}
.refund-info-section .write-list .gap01{
	position:relative;
	margin-top:10px;
	padding-right:96px;
}
.refund-info-section .write-list .gap01 a{
	position:absolute;
	top:0;
	right:0;
	width:90px;
}
.refund-info-section .write-list .gap02 {
	margin:10px 0;
}

.sale-info-wrap{
	margin-top:8px;
}
.sale-info-wrap dt{
	margin-bottom:10px;
}
.sale-info-wrap dd{
	padding-bottom:20px;
}
.sale-info-wrap .sale-info-input01{
	position:relative;
	padding-right:95px;
}
.sale-info-wrap .sale-info-input01 button{
	position:absolute;
	top:0;
	right:0;
	width:;
}
.sale-info-wrap .sale-info-txt{
	margin-top:8px;
	color:#666;
}
.sale-info-wrap .sale-info-txt strong{
	color:#ff3600;
	font-weight:bold;
}
.sale-info-wrap .sale-info-txt em{
	color:#000;
	font-weight:bold;
}
.sale-info-wrap .btn-wrap01{
	margin-top:10px;
	padding:0;
}

.sale-info-wrap .input-btn-box-wrap{
	position:relative;
	margin:0;
	padding-right:96px;
}

.sale-info-wrap .input-btn-box-wrap02 .btn-wrap01{
	margin-top:0;
}
.input-btn-box-wrap > button{
	position:absolute;
	top:0;
	right:0;
	width:90px;
}


.shop-info-process-wrap{
	margin-top:8px;
	padding:0 10px;
}
.shop-info-process-wrap .item-list03{
	margin-top:0;
	border-top:1px solid #eee;
}
.shop-info-process-wrap .shop-info-process-txt{
	padding:23px 0 35px;
}
.shop-info-process-wrap .txt-sub-info01{
	padding:0;
}
.shop-info-process-wrap .shop-info-process-txt .title02{
	margin-top:0;
	padding:0;
}
.shop-info-process-wrap .shop-info-process-txt .text-list01,
.shop-info-process-wrap .shop-info-process-txt .txt-sub-info03{
	padding:0;
}
.shop-info-process{
	margin:0 -10px;
	padding:25px 0 0;
	background:#f8f8f8;
}
.shop-info-process > li{
	position:relative;
	padding:0 10px 30px 116px;
	background:url(../images/order/bg_shop_process_dot.png) no-repeat 60px 0;
	background-size:1px 342px;
}
.shop-info-process > li.deps03{
	background:none;
}
.shop-info-process > li:after{
	display:block;
	content:'';
	position:absolute;
	top:0;
	left:34px;
	width:53px;
	height:53px;
}
.shop-info-process > li.deps01:after{
	background:url(../images/order/bg_shop_process_01.png) no-repeat 0 0;
	background-size:53px 53px;
}
.shop-info-process > li.deps02:after{
	background:url(../images/order/bg_shop_process_02.png) no-repeat 0 0;
	background-size:53px 53px;
}
.shop-info-process > li.deps03:after{
	background:url(../images/order/bg_shop_process_03.png) no-repeat 0 0;
	background-size:53px 53px;
}
.shop-info-process li .title{
	font-size:14px;
}
.shop-info-process li .shop-info-txt{
	margin-top:8px;
	color:#666;
	font-size:14px;
	line-height:24px;
}
.shop-info-process li .text-list01{
	margin-top:8px;
	padding:0;
}
.order-detail-shipping-wrap{
	position:relative;
	margin-top:24px;
	padding-top:8px;
}
.order-detail-shipping-wrap .order-detail-shipping-txt01{
	line-height:22px;
}
.order-detail-shipping-wrap .order-detail-shipping-txt01 span{}

.order-detail-shipping-wrap .order-detail-shipping-txt01 span +  span{
	position:relative;
	margin-left:10px;
	padding-left:10px;

}
.order-detail-shipping-wrap .order-detail-shipping-txt01 span +  span:after{
	position:absolute;
	top:4px;
	left:0;
	content:'';
	width:1px;
	height:11px;
	background:#ddd;
}
.order-detail-shipping-wrap .order-detail-shipping-txt02{
	margin-top:15px;
	color:#999;
	font-size:12px;
}
.order-detail-shipping-wrap .btn-style04{
	position:absolute;
	top:0;
	right:0;
	width:85px;
}