@charset "utf-8";

.main-visual {
	position: relative;
}
.main-visual ul li {
	font-size: 0;
}
.main-visual ul li img {
	width: 100%;
}
.main-visual ul li a {
	position: relative;
}
.main-visual ul li a span {
	position: absolute;
	left: 0;
	bottom: 70px;
	padding: 0 30px;
	font-size: 34px;
	line-height: 34px;
	font-weight: bold;
}
.main-visual .main-visual-pagination {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 27px;
	width: 100%;
	z-index: 1;
}
.main-visual .main-visual-pagination span {
	display: block;
	width: 15px;
	height: 3px;
	margin: 0 3px;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}
.main-visual .main-visual-pagination .swiper-pagination-bullet-active {
	background: #ff3600;
}

.main-contents {}
.main-contents h2 {
	margin-top: 50px;
}
.main-contents h2 span {
	display: inline-block;
	padding: 16px 0 0 10px;
	border-top: 4px solid #000;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 0px 0px #000;
}
.main-item-list01 {
	position: relative;
	margin-top: 27px;
}
.main-item-list01 ul li img {
	width: 100%;
}
.main-item-list01 .item-info {
	display: flex;
	padding: 30px 10px 0;
}
.main-item-list01 .item-info .item-info-txt {
	width: calc(100% - 100px);
}
.main-item-list01 .item-info .item-info-txt .txt01 {
	overflow: hidden;
	width: 100%;
	font-size: 18px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
}
.main-item-list01 .item-info .item-info-txt .txt02 {
	margin-top: 8px;
}
.main-item-list01 .item-info .item-info-txt .txt02 strong {
	font-size: 24px;
}
.main-item-list01 .item-info .item-info-txt .txt02 del {
	margin-left: 20px;
	font-size: 15px;
	color: #999;
}
.main-item-list01 .item-info .item-info-like {
	display: flex;
	justify-content: center;
	width: 90px;
	height: 56px;
	border-left: 1px solid #ddd;
}
.main-item-list01 .main-item-list01-pagination {
	position: absolute;
	left: 0;
	bottom: 115px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	z-index: 1;
}
.main-item-list01 .main-item-list01-pagination .swiper-pagination-current {
	color: #ff3600;
}
.main-item-list02 {
	display: flex;
	margin-top: 30px;
}
.main-item-list02 .swiper-container {
	margin: 0;
}
.main-item-list02 li {
	width: 145px;
	height: 100%;
	padding-bottom: 60px;
}
.main-item-list02 li .item-img {
	display: flex;
	align-items: center;
	height: 100%;
	background: #f8f8f8;
}
.main-item-list02 li .item-img img {
	width: 100%;
}
.main-item-list02 .item-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 48px;
}
.main-item-list02 .item-info .txt01 {
	text-align: center;
	font-size: 15px;
	line-height: 24px;
}
.main-item-list02 .item-info .txt01 del {
	display: block;
	color: #999;
}

.main-item-img {
	margin-top: 25px;
	font-size: 0;
}
.main-item-img img {
	width: 100%;
}
.main-item-img02 {
	position: relative;
	width: 100%;
	margin-top: 25px;
	padding: 0 10px;
	font-size: 0;
}
.main-item-img02 img {
	width: 100%;
}
.main-item-img02 span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px;
}
.main-item-img02 span img {
	width: 47px;
	height: 47px;
}

.main-item-txt01 {
	margin-top: 17px;
	padding: 0 10px;
	font-size: 35px;
	line-height: 45px;
	font-weight: bold;
}
.main-item-txt04 {
	margin-top: 25px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 24px;
	color: #999;
}
.main-item-txt03 {
	margin-top: 21px;
	padding: 0 10px;
	font-size: 24px;
	line-height: 34px;
	font-weight: bold;
}

.btn-like {
	display: inline-block;
	min-width: 25px;
	height: 44px;
	background:url(../images/common/bg_like_off.png) no-repeat 50% 0;
	background-size:25px 22px;
}
.btn-like.on {
	background:url(../images/common/bg_like_on.png) no-repeat 50% 0;
	background-size:25px 22px;
}
.btn-like span {
	display: inline-block;
	padding-top: 26px;
	font-size: 15px;
	color: #000;
}

.category-visual {
	position: relative;
}
.category-visual ul li {
	font-size: 0;
}
.category-visual img {
	width: 100%;
}
.category-visual .category-visual-pagination {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 27px;
	width: 100%;
	z-index: 1;
}
.category-visual .category-visual-pagination span {
	display: block;
	width: 15px;
	height: 3px;
	margin: 0 3px;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}
.category-visual .category-visual-pagination .swiper-pagination-bullet-active {
	background: #ff3600;
}

.temp-box01 .temp-box01-img01 img {
	width: 100%;
}
.temp-box01 .temp-box01-txt01 {
	padding: 23px 10px 0;
}
.temp-box01 .temp-box01-txt01 p {
	color: #666;
	line-height: 22px;
}

.temp-box02 {
	margin-top: 60px;
}
.temp-box02 .temp-box02-img-txt {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.temp-box02 .temp-box02-img-txt:after {
	content: '';
	position: absolute;
	left: 20px;
	bottom: 30px;
	width: 30%;
	height: 4px;
	background: #000;
}
.temp-box02 .temp-box02-img01 {
	width: 295px;
}
.temp-box02 .temp-box02-img01 img {
	width: 100%;
}
.temp-box02 .temp-box02-txt01 {
	position: absolute;
	left: 20px;
	bottom: 90px;
	width: 290px;
	font-size: 45px;
	line-height: 45px;
	font-style: italic;
	font-weight: bold;
}
.temp-box02 .temp-box02-txt02 {
	display: flex;
	justify-content: flex-end;
	margin-top: 23px;
}
.temp-box02 .temp-box02-txt02 p {
	width: 295px;
	padding-right: 20px;
	color: #666;
	line-height: 22px;
}

.temp-box03 {
	margin-top: 60px;
}
.temp-box03 .temp-box03-img-txt {
	position: relative;
}
.temp-box03 .temp-box03-img-txt:after {
	content: '';
	position: absolute;
	right: 20px;
	bottom: 30px;
	width: 30%;
	height: 4px;
	background: #000;
}
.temp-box03 .temp-box03-img01 {
	width: 295px;
}
.temp-box03 .temp-box03-img01 img {
	width: 100%;
}
.temp-box03 .temp-box03-txt01 {
	position: absolute;
	right: 20px;
	bottom: 90px;
	width: 290px;
	font-size: 45px;
	line-height: 45px;
	font-style: italic;
	font-weight: bold;
	text-align: right;
}
.temp-box03 .temp-box03-txt02 {
	margin-top: 23px;
}
.temp-box03 .temp-box03-txt02 p {
	width: 295px;
	padding-left: 20px;
	color: #666;
	line-height: 22px;
	text-align: right;
}

.temp-box04 {
	margin-top: 60px;
	text-align: center;
}
.temp-box04 .temp-box04-img01 img {
	width: 100%;
}
.temp-box04 .temp-box04-txt01 {
	margin-top: 20px;
	padding: 0 20px;
	font-size: 45px;
	line-height: 45px;
	font-style: italic;
	font-weight: bold;
}
.temp-box04 .temp-box04-txt02 {
	margin-top: 23px;
	padding: 0 20px;
	color: #666;
	line-height: 22px;
}

.temp-box05 {
	margin-top: 60px;
}

.temp-box06 {
	margin-top: 60px;
	padding: 20px 20px 26px;
	background: #f3f3f3;
}
.temp-box06 .temp-box06-video {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.temp-box06 .temp-box06-video iframe,
.temp-box06 .temp-box06-video object,
.temp-box06 .temp-box06-video embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.temp-box06 .temp-box06-txt01 {
	margin-top: 25px;
	color: #666;
	line-height: 22px;
}

.temp-box07 {
	margin-top: 60px;
}

.temp-box08 {
	position: relative;
	margin-top: 60px;
	padding-top: 28px;
}
.temp-box08:after {
	content: '';
	position: absolute;
	left: 10px;
	top: 0;
	width: calc(100% - 20px);
	height: 1px;
	background: #666;
}
.temp-box08 .title02 {
	margin-top: 0;
}
.temp-box08 .btn-wrap01 {
	margin-top: 34px;
	padding: 0 10px;
}

.brand-visual {
	height: 440px;
	padding: 292px 20px 0;
}
.brand-visual ul {
	display: flex;
	justify-content: space-between;
}
.brand-visual ul li {
	width: calc(33.33% - 3.33px);
	height: 108px;
}
.brand-visual ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #fff;
	line-height: 18px;
	text-align: center;
}
.brand-visual ul li.on a {
	background: #000;
	color: #fff;
}
.brand-visual-type01 {
	background:url(../images/showing/bg_brand01.png) no-repeat 50% 50%;
	background-size: auto 100%;
}
.brand-visual-type02 {
	background:url(../images/showing/bg_brand02.png) no-repeat 50% 50%;
	background-size: auto 100%;
}
.brand-visual-type03 {
	background:url(../images/showing/bg_brand03.png) no-repeat 50% 50%;
	background-size: auto 100%;
}

.brand-cont01 {
	padding: 35px 20px 0;
}
.brand-cont01 p {
	color: #666;
	line-height: 22px;
}
.brand-cont02 {
	position: relative;
	margin-top: 56px;
}
.brand-cont02:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 94px;
	height: 4px;
	background: #000;
}
.brand-cont02 .brand-cont02-txt01 {
	padding: 25px 20px 0;
	font-size: 50px;
	line-height: 55px;
	font-weight: bold;
}
.brand-cont02 .brand-cont02-txt02 {
	padding: 28px 20px 0;
	color: #666;
	line-height: 22px;
}
.brand-cont02 .brand-cont02-img01 {
	padding: 25px 0 0 20px;
}
.brand-cont02 .brand-cont02-img01 img {
	width: 100%;
}
.brand-cont03 {
	position: relative;
	margin-top: 56px;
}
.brand-cont03:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 94px;
	height: 4px;
	background: #000;
}
.brand-cont03 .brand-cont03-txt01 {
	padding: 25px 20px 0;
	font-size: 50px;
	line-height: 55px;
	font-weight: bold;
	text-align: right;
}
.brand-cont03 .brand-cont03-txt02 {
	padding: 28px 20px 0;
	color: #666;
	line-height: 22px;
	text-align: right;
}
.brand-cont03 .brand-cont03-img01 {
	padding: 25px 20px 0 0;
}
.brand-cont03 .brand-cont03-img01 img {
	width: 100%;
}

.brand-cont04 {
	padding: 0 20px;
}
.brand-cont04 dt {
	padding-top: 40px;
}
.brand-cont04 dd {
	padding-top: 14px;
	color: #666;
	line-height: 22px;
}

.brand-cont05 {
	padding: 30px 20px 0;
}
.brand-cont05 dt {
	margin-top: 20px;
	font-size: 20px;
	color: #1e345d;
	font-weight: bold;
}
.brand-cont05 dd {
	color: #666;
	line-height: 22px;
}

.brand-cont06 {
	margin-top: 56px;
}
.brand-cont06 dt {
	padding-right: 20px;
	font-size: 30px;
	line-height: 35px;
	font-weight: bold;
}
.brand-cont06 dt span {
	display: inline-block;
	padding: 22px 0 0 20px;
	border-top: 4px solid #000;
}
.brand-cont06 dd {
	padding: 20px 20px 0;
	color: #666;
	line-height: 22px;
}

.brand-cont07 {
	margin-top: 40px;
}
.brand-cont07 dt {
	padding-right: 20px;
	font-size: 30px;
	line-height: 35px;
	font-weight: bold;
}
.brand-cont07 dt span {
	display: inline-block;
	padding: 22px 0 0 20px;
	border-top: 4px solid #000;
}
.brand-cont07 dd {
	padding: 20px 20px 0;
	color: #666;
	line-height: 22px;
}
.brand-list {
	margin-top: 16px;
	padding: 0 20px;
}
.brand-list ul {
	overflow: hidden;
	margin-left: -10px;
}
.brand-list li {
	float: left;
	width: calc(50% - 10px);
	margin: 10px 0 0 10px;
	font-size: 0;
}
.brand-list li img {
	width: 100%;
}